body {
  text-align: center;
  height: 100vh;
  background-image: url(./images/background.jpeg);
  background-repeat:repeat-y;
  background-size:cover;    
}
@font-face {
  font-family: 'texasranger.ttf';
  src: url('./fonts/Texas-Ranger-Condensed/texasranger.ttf');
}
@font-face {
  font-family: 'texasrangercond.ttf';
  src: url('./fonts/Texas-Ranger-Condensed/texasrangercond.ttf');
}

.App{
 background-color: #EDECBF; 
 height: 110vh;
 opacity: 0.75;
 display: inline-flex;
 flex-direction: column;
}

.Card > img{
  width: 55%;
  border: 1px solid black;
}

.Header{
  font-family: 'texasranger.ttf';
}

.Card{  
  width: 25%; 
}

.CardScore{
  font-family: 'texasrangercond.ttf';
  font-size: 1.5rem;
}

.CardArray{
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 824px) {
  .Card{
    width: 45%;    
  }

  .Card > img{
    width: 75%;
  }

  .CardScore{
    font-size: 1rem;
  }

  .scoreSpan{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  body {
    background-repeat:repeat-x;
    background-size:cover;    
  }
  
}