body {
  text-align: center;
  height: 100vh;
  background-image: url(./images/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  
}
@font-face {
  font-family: 'texasranger.ttf';
  src: url('./fonts/Texas-Ranger-Condensed/texasranger.ttf');
}
@font-face {
  font-family: 'texasrangercond.ttf';
  src: url('./fonts/Texas-Ranger-Condensed/texasrangercond.ttf');
}

.Card > img{
  width: 55%;
  /* height: 75%; */
  border: 1px solid black;
}

.Header{
  font-family: 'texasranger.ttf';
}

.Card{  
  width: 25%;
}

.CardScore{
  font-family: 'texasrangercond.ttf';
}

.CardArray{
  /* width: 10%; */
  display: flex;  
  /* margin: auto; */
  flex-direction: row;
  /* flex-shrink: 1 1 1; */
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 824px) {
  .Card{
    width: 45%;
  }

  .Card > img{
    width: 75%;
  }

  
}